
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.wv {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  border: 5px solid white;
  border-radius: 15px;

  background-color: #4ABDAC;
}


#title {
font-size: 3rem;
margin: auto;
color: black;
margin-top: 10%;
margin-bottom: 3%

}

span{
  color: white;
  font-size: 1em;
  font-weight:  bold;
}

.subcontainer{
  display: flex;    
  flex-direction:  column;  
  width: 100%;
  justify-content:  center; 
  align-items:  center;
  margin-bottom: 15%;
}


.temp-location{
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content:  center; 
  align-items:  center;
  margin-bottom: 3%;
}

.location{
  display: flex;
  flex-direction:  column; 
  width: 50%;
  height: 80%;
  justify-content:  center; 
  border-left: 1px solid white;
  padding-left:  3%; 
  }

.weather-info{
  display:  flex; 
  flex-direction:   row;
  height: 80%;
  padding-right: 5%;
}


.temp{
  font-size:  7em;
  font-weight:  bold; 
  color: white;
}

.temp-data{
  display:  flex;
  flex-direction:   row;
  justify-content:  center; 
  align-items:  center; 
  
  height: 4em;
  padding-right: 3%;
}

.units{
   font-size:  2em;
  font-weight:  bold; 
  color: white;
  margin-top: 7%;
}
