
body {
	background-color: white;
	font-family: 'Lato', sans-serif;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
  justify-content: center;
	height: 100%;
	width: 100%;

}

.wv {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  border: 5px solid white;
  border-radius: 15px;

  background-color: #4ABDAC;
}


#title {
font-size: 2rem;
margin: auto;
color: black;
margin-top: 10%;
margin-bottom: 3%

}

span{
	color: white;
  font-size: 1em;
  font-weight:  bold;
}

.subcontainer{
  display: flex;    
  flex-direction:  column;  
  width: 100%;
  height:   50%;
  justify-content:  center; 
  align-items:  center;
  margin-bottom: 15%;
}


.temp-location{
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content:  center; 
  align-items:  center;
  margin-bottom: 3%;
}

.location{
  display: flex;
  flex-direction:  column; 
  width: 50%;
  height: 80%;
  justify-content:  center; 
  border-left: 1px solid white;
  padding-left:  5%; 
  }

.weather-info{
  display:  flex; 
  flex-direction:   column;
  justify-content:  center; 
  align-items:  center; 
  height: 80%;
}


.temp{
  font-size:  1em;
  font-weight:  bold; 
  color: black;
}

.alt-temp{
  font-size:  2em;
  font-weight:  bold; 
  color: #E5E5E5;
  margin-top: 25%;
}

.temp-data{
  display:  flex;
  flex-direction:   row;
  justify-content:  center; 
  align-items:  center; 
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 15%;
  margin-right: 5%;
}

.units{
   font-size:  1em;
  font-weight:  bold; 
  color: black;
}

.alt-units{
  font-size:  1em;
  font-weight:  bold; 
  color: #E5E5E5;
  margin-bottom:  15%;
}

.unit-container{
  display:  flex; 
  flex-direction:  column;  
}

.alt-temp-data{
  display:  flex; 
  flex-direction:   row;
  align-items: flex-start;
  justify-content:  center; 
  height: 5%;

}

.hr{
  border-top: 1px solid white;
  width: 30%;
  margin-top: 4%;
}

#country{
  color: #E5E5E5;
  font-size: 0.8em;
}